<% provide(:title, 'New Tutor') %>
<h1>Add Tutor</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@provider) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :position %>
      <%= f.text_field :position %>

      <%= f.label :department %>
      <%= f.text_field :department %>

      <%= f.label :college %>
      <%= f.text_field :college %>

      <%= f.label :university %>
      <%= f.text_field :university %>

      <%= f.label :bio %>
      <%= f.text_area :bio, :rows => 10 %>

      <br>

      <p class="body">Note: quotes can have embedded HTML, e.g. <code>&lt;br&gt;</code>, <code>&lt;em&gt;</code>, <code>&lt;strong&gt;</code>, etc. Remember that one <code>&lt;br&gt;</code> tag renders a new line, two <code>&lt;br&gt;</code> tags render a new paragraph.
      
      <br><br>

      <%= f.label :facebook %>
      <%= f.text_field :facebook %>

      <%= f.label :twitter %>
      <%= f.text_field :twitter %>

      <%= f.label :googleplus %>
      <%= f.text_field :googleplus %>

      <%= f.label :blog %>
      <%= f.text_field :blog %>

      <%= f.label :huffpo %>
      <%= f.text_field :huffpo %>

      <%= f.label :academiaedu %>
      <%= f.text_field :academiaedu %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <center><%= f.submit "Add Tutor", class: "btn btn-large btn-primary" %></center>
    <% end %>
  </div>
</div>

