<% provide(:title, @provider.name) %>
<%= content_for :body_id, "portfolio-item" %>

  <div class="st-container">
    <div class="st-pusher">
      <div class="st-content">
        <div id="showcase">
          <div class="container">
            <div class="row gallery_container">
              <div class="col-md-12">
                <div class="project">
                  
                  <h1>
                    <%= @provider.name %>
                  </h1>
                  <div class="col-md-7 english screens">                   
                    <h3>About</h3>
                    <p class="text">
                      <%= @provider.bio.html_safe %>
                    </p>
                    <br />
                    <p class="text"><%= link_to "« Go back", :back %></p>
                </div>

                  <div class="col-md-4 col-md-offset-1 description">
                    <div class="info">
                      <h3>Key Information</h3>
                      <br />
                      <p>
                        <strong>Position:</strong>
                        <%= @provider.position %>
                      </p>
                      <p>
                        <strong>Department:</strong>
                        <%= @provider.department %>
                      </p>
                      <p>
                        <strong>University of <%= @provider.university %></strong>
                      </p>
                      <br><br>
                      <% unless @provider.courses.blank? %>
                        <h3>Courses</h3>
                          <br />
                          <% @provider.courses.each do |course| %>
                            <%= link_to course.name, course %>
                        <% end %>
                      <% end %>
                    </div>              
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
