<% provide(:title, 'About us') %>
<%= content_for :body_id, "about-us" %>

<div id="slider">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h3>About MASSOLIT</h3>
					<p>
					And seeing ignorance is the curse of God,
					<br>Knowledge the wing wherewith we fly to heaven.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="flexslider">
					  	<ul class="slides">
						    <li>
						      	<img src="assets/office2.png" alt="office2" />
						    </li>
						    <li>
						      	<img src="assets/office1.png" alt="office1" />
						    </li>
						    <li>
						      	<img src="assets/office3.png" alt="office3" />
						    </li>
					  	</ul>
					</div>
				</div>
			</div>
		</div>
</div>

	<div id="info">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>About MASSOLIT</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">					
					<p>
						MASSOLIT is an educational content provider, specializing in arts and humanities resources for secondary school teachers. We work with some of the best academics in the world to produce ‘mini-lectures’ in English, Classics, History and Philosophy.
					</p>
					<p>
						Founded in September 2013, we have in our first year worked with over 50 academics and filmed over 300 ‘mini-lectures’. We are currently being used in 50 schools across the UK and Australia.
					</p>
				</div>
				<div class="col-md-6">
					<p>
						MASSOLIT is named after the writer’s union in Mikhail Bulgakov’s novel ‘The Master and Margarita’.
					</p>
					<%= link_to "Browse our courses", '/courses', :class => "join-team button button-small" %>
				</div>
			</div>
			<div class="row stats">
				<div class="col-sm-3">
					<strong><%= Course.count %></strong>
					courses
				</div>
				<div class="col-sm-3">
					<strong><%= Lesson.count %></strong>
					lectures
				</div>
				<div class="col-sm-3">
					<strong><%= School.count %></strong>
					schools using us
				</div>
				<div class="col-sm-3">
					<strong>5</strong>
					Platonic solids
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">
   (function($) {
      $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
   })(jQuery);

</script>