<% provide(:title, 'Free Trial: FAQs') %>

<div class="container">

<h2 class="featurette-heading">How does the free trial work?</h2>
<p class="lead">When you sign up for the free trial, you will get unlimited access to all videos and additional learning materials for thirty days. This is you chance to see whether or not you like what we're doing. If you do, you don't have to do anything else: we'll automatically upgrade your subscription after 30 days. If not, you are free to cancel the subscription at any time during the trial and you won't be charged a penny.
<br>

<h2 class="featurette-heading">What happens after the trial?</h2>
<p class="lead">If you're happy with what we're doing, we'll automatically upgrade you to a regular subscription, which costs just £4.99 a month. Just like with the free trial, you are able to cancel your subscription at any point. Better than that, however, <%= link_to "tell us what we could be doing better", contact_path %>!

<br>

<h2 class="featurette-heading">Can I cancel my subscription at any time?</h2>
<p class="lead">Yes. If you no longer want access to MASSOLIT's <%= link_to "extensive collection of courses", courses_path %>, you are able to cancel your subscription at any time.

<br>

<h2 class="featurette-heading">Do videos work on [browser] or [device]?</h2>
<p class="lead">Almost certainly. Our videos are delivered by <%= link_to "JW Player", "http://www.jwplayer.com/" %>, which is designed to work on <%= link_to "all modern browsers and devices", "http://www.longtailvideo.com/support/jw-player/28837/browser-device-support" %>, including Chrome, Firefox, Internet Explorer, and Safari. Our videos also work on all mobile and tablet devices, including iPhone and iPad.

<br>

<h2 class="featurette-heading">Can I watch videos while offline?</h2>
<p class="lead">Sorry, no. All our videos are streamed from <%= link_to "the cloud", "http://aws.amazon.com/s3/" %>, meaning you will need an internet connection to watch them. Making videos downloadable is something we want to do eventually, though it is not something we are working on right now.

<br>

<h2 class="featurette-heading">Are payments handled securely?</h2>
<p class="lead">Yes. Our payments are handled by third-party provider <%= link_to "Stripe", "http://www.stripe.com" %>, which provides payment services for thousands of companies around the world.  We don't store any sensitive information on our site, meaning your payments are safe and secure.

<br>

<h2 class="featurette-heading">My school has signed up: do I need to pay?</h2>
<p class="lead">Absolutely not. If you are a pupil at <%= link_to "one of our partner schools", ourschools_path %>, you have free, unlimited access already. All you need to do is <%= link_to "sign up", new_subscriber_registration_path(:job => 'student') %> or <%= link_to "log in", new_subscriber_session_path %>. If you have problems with either of these, please <%= link_to "get in touch", contact_path %>!

<br>

<h2 class="featurette-heading">What if my school hasn't signed up?</h2>
<p class="lead">I'm afraid you'll have to wait for free, unlimited access. What you should do, however, is <%= link_to "let us know you're interested", contact_path %>, so we can try to arrange a license for your school! If the need is urgent, <%= link_to "sign up for a free trial", new_user_registration_path(:plan => 'topaz') %> and you can get started straight away!

<br>

<h2 class="featurette-heading">Any other questions?</h2>
<p class="lead">If there's anything else you'd like to ask, <%= link_to "please let us know", contact_path %>, and we'll get back to you as soon as we can.

</div>