<% if signed_in? %>
<div class="container">
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
		<section>
        <%= render 'shared/stats' %>
      </section>
     </aside>
  </div>
</div>
<% else %>    

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://placebox.es/1024/500" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to the MASSOLIT</h1>
              <p class="lead">The only educational resource on the internet that is dedicated entirely to literature.</p>
              <%= link_to "Sign up now.", signup_path, class: "btn btn-large btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://placebox.es/1024/500" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Real marking.</h1>
              <p class="lead">There is no such thing as the 'right' response to literature. You won't find any multiple choice tests here.</p>
              <%= link_to "What we believe.", about_path, class: "btn btn-large btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://placebox.es/1024/500" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>World-class learning.</h1>
              <p class="lead">Our collection of courses is smaller than most.</p>
              <%= link_to "Sign up now.", signup_path, class: "btn btn-large btn-primary" %>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
<div class="container">
    <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="http://placebox.es/450">
        <h2 class="featurette-heading">Go beyond the syllabus.</h2>
        <p class="lead">We work with schools across London to deliver courses that go beyond the syllabus. Studying Shakespare? Learn about the man whose celebrity esclipsed him - Thomas Kyd.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="http://placebox.es/450">
        <h2 class="featurette-heading">Powerful analytics</h2>
        <p class="lead">With our analytics tools, you can see exactly what your students have been reading, the work they have been doing, and the progress they have been making.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="http://placebox.es/450">
        <h2 class="featurette-heading">Achieve more.</h2>
        <p class="lead">The breadth of learning offerd by MASSOLIT is the perfect preparation for life at the best universities in the country.</p>
      </div>

      <hr class="featurette-divider">
<div class="container">
  <div class="span12">
    <p class="text-center">
      <h2 class="featurette-heading">Want to learn more?</h2>
      <center><%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary"%></center>
</p>
</div>
</div>
<% end %>