<% provide(:title, 'For Individuals') %>

<% alist = ["A(ristotle)", "A(belard)", "A(eschylus)", "A(usten)", "A(menhotep III)"]%>
<% zlist = ["Z(arathustra)", "Z(oroaster)", "Z(ola)", "Z(amyatin)", "Z(hukov)"] %>
<% achoice = alist.shuffle[0] %>
<% zchoice = zlist.shuffle[0] %>

<div class="container">
  
  <div class="featurette">
	  <h2 class="featurette-heading">Learn from the best...</h2>
	  <p class="lead">Have you ever read a book that you feel <%= link_to "has more to give", tag_path("English Literature") %>? Are you interested in <%= link_to "history of philosophy", tag_path("Philosophy") %> or perhaps the <%= link_to "philosophy of history", tag_path("History") %>, but don't know where to start? Learn from researchers and academics from the world's best universities - including Oxford and Cambridge.
  </div>

   <div class="featurette">
	  <h2 class="featurette-heading">... at your own pace ...</h2>
	  <p class="lead">You can watch our videos anytime and anywhere. Progress through videos at your own pace, or simply dip in to whichever topics take your fancy. And because we keep our videos short, you can watch them on your commute to work, in your lunch break, or in the evening - or whenever! <%= link_to "Take a look at some of our sample lectures", samplecourses_path %>!
  </div>

  <div class="featurette">
	  <h2 class="featurette-heading">... whatever you want to learn</h2>
	  <p class="lead">Because we're passionate about the humanities, we cover the topics that you won't find anywhere else. Where else can you learn about T.S. Eliot's relationship with Wittgenstein? Or Seneca's influence on Shakespeare? Or Joyce's obsession with Hamlet? MASSOLIT is the new home for humanities on the internet. <%= link_to "Sign up for a 30-day free trial now!", new_user_registration_path(:plan => "topaz") %>
  </div>

  <br>

</div>