<% provide(:title, 'Sample Modules') %>

<div class="container">
    <h1>Sample Modules</h1>

  <div class="featurette">
    <h2 class="featurette-heading">The Atomic Bombing of Hiroshima and Nagasaki</h2>
      <p class="lead">Dr Christopher Harding is a lecturer in Asian History at the University of Edinburgh, specialising in particular in Japan and India. In 2013, he was selected as one of the AHRC/BBC's ten New Generation Thinkers.
      <p class="lead"><strong>In this section, Christopher discusses the atomic bombings of Hiroshima and Nagasaki, looking in particular at whether the bombings were necessary and what the Americans were trying to achieve.</strong></p>
      <br>

      <% if Lesson.find_by_id(155).blank? %>
      <center>Video coming soon!</center>
      <% else %>
      <div id="sample-video">
        <div id="sample-video5">Loading the player ...</div>
        
        <script type='text/javascript'>
        jwplayer("sample-video5").setup({
        file: "<%= Lesson.find_by_id(155).movies.first.movie %>",
        title: "Christopher Harding on the Atomic Bombs",
        width: '100%',
        aspectratio: '16:9',
        fallback: 'false',
        primary: 'flash'
        });
        </script>
      
      </div>

      <% end %>

  </div>
    
    <div class="featurette">
    <h2 class="featurette-heading">Seamus Heaney: Prose and Poetry</h2>
      <p class="lead">Rosie Lavan is a doctoral student at St Anne's College, Oxford. She is writing her thesis on 'Seamus Heaney and Society'
      <p class="lead"><strong>In this module, Rosie discusses two sonnets of Heaney; the first ('Requiem for the Croppies') evoking the ghosts of Ireland's past, the second ('Strange Fruit') exploring the concept of identity and self-awareness in the context of a severed head.</strong></p>
      <br>

      <% if Lesson.find_by_id(56).blank? %>
      <center>Video coming soon!</center>
      <% else %>
      <div id="sample-video">
        <div id="sample-video1">Loading the player ...</div>
        
        <script type='text/javascript'>
        jwplayer("sample-video1").setup({
        file: "<%= Lesson.find_by_id(56).movies.first.movie %>",
        title: "Rosie Lavan on Seamus Heaney",
        width: '100%',
        aspectratio: '16:9',
        fallback: 'false',
        primary: 'flash'
        });
        </script>
      
      </div>

      <% end %>

  </div>


    <div class="featurette">
    <h2 class="featurette-heading">Seneca and Early Modern Drama</h2>
      <p class="lead">Dr Helen Slaney is a Lecturer at St Hilda's College, Oxford. Her course on Seneca and Early Modern Drama examines the influence of the Roman tragic poet on the English playwrights of the 16th and 17th centuries, including Marlowe, Shakespeare, and Jonson.
      <p class="lead"><strong>In this section, Helen discusses two of the most famous representatives of 'Senecan' drama on the early modern stage: Marlowe's 'Tamburlaine the Great' and Kyd's 'The Spanish Tragedy'</strong></p>
      <br>

      <% if Lesson.find_by_id(36).blank? %>
      <center>Video coming soon!</center>
      <% else %>
      <div id="sample-video">
        <div id="sample-video2">Loading the player ...</div>
        
        <script type='text/javascript'>
        jwplayer("sample-video2").setup({
        file: "<%= Lesson.find_by_id(36).movies.first.movie %>",
        title: "Helen Slaney on Early Modern Theatre",
        width: '100%',
        aspectratio: '16:9',
        fallback: 'false',
        primary: 'flash'
        });
        </script>
      
      </div>

      <% end %>

  </div>

  <div class="featurette">
    <h2 class="featurette-heading">The Aeneid</h2>
      <p class="lead">Dr Llewelyn Morgan is a Tutorial Fellow in Classics at Brasenose College, Oxford. His course on the Aeneid covers six key themes across the epic poem, including Women and the Gods.
      <p class="lead"><strong> In this section, Llewelyn talks about the importance of cities in the Aeneid.</strong></p>
      <br>

      <% if Lesson.find_by_id(15).blank? %>
      <center>Video coming soon!</center>
      <% else %>
      <div id="sample-video">
        <div id="sample-video3">Loading the player ...</div>
        
        <script type='text/javascript'>
        jwplayer("sample-video3").setup({
        file: "<%= Lesson.find_by_id(15).movies.first.movie %>",
        title: "Llewelyn Morgan on the Aeneid",
        width: '100%',
        aspectratio: '16:9',
        fallback: 'false',
        primary: 'flash'
        });
        </script>
      
      </div>

      <% end %>

  </div>

  <div class="featurette">
    <h2 class="featurette-heading">Nietzsche</h2>
      <p class="lead">Ben Martin is a BPhil student at Brasenose College, Oxford. His course on Nietzsche explores the three essays that make up 'The Genealogy of Morality'
      <p class="lead"><strong>In this section, Ben gives a brief biography of Nietzsche, before going on to explain the evolution of his thought over his lifetime.</strong></p>
      <br>

      <% if Lesson.find_by_id(90).blank? %>
      <center>Video coming soon!</center>
      <% else %>
      <div id="sample-video">
        <div id="sample-video4">Loading the player ...</div>
        
        <script type='text/javascript'>
        jwplayer("sample-video4").setup({
        file: "<%= Lesson.find_by_id(90).movies.first.movie %>",
        title: "Ben Martin on Nietzsche",
        width: '100%',
        aspectratio: '16:9',
        fallback: 'false',
        primary: 'flash'
        });
        </script>
      
      </div>

      <% end %>

  </div>

</div>