<% provide(:title, "Confirm account") %>
<%= content_for :body_id, "signup" %>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h4>Confirm your account.</h4>
        <p>Enter your e-mail address so you can confirm your account.</p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="wrapper clearfix">
          <div class="formy">
            <div class="row">
              <div class="col-md-12">

                  <div class="form-group">
                  <%= f.input :email, :label => "E-Mail Address:", :required => true, input_html: { class: 'form-control' }  %>
                  </div>

                  <div class="submit">
                     <%= f.button :submit, "Submit", input_html: { class: 'button-clear' } %>
                  </div>
                  
                  <% end %>
              </div>
            </div>            
          </div>
        </div>
        <div class="already-account">
          Lost? Go back
          <%= link_to "one step", :back %> or
          <%= link_to "to the home page", root_path %>
        </div>
      </div>
    </div>
  </div>

