<div class="container">
<div class="span6 offset3">

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>

  <%= f.hidden_field :job, :value => params[:job] %>

  <%= f.error_notification %>
  <%= display_base_errors resource %>

  <%= f.input :school_id, :label => "School:", :collection => School.all, :selected => School.first, :disabled => true, :hint => "While we are in beta mode, please use 'Test School' as your school. A full school list will be added soon." %>
  <%= f.input :name, :label => "Name:", :autofocus => true %>
  <%= f.input :email, :label => "E-Mail Address:", :required => true %>
  <%= f.input :password, :label => "Password:", :required => true %>
  <%= f.input :password_confirmation, :label => "Password Confirmation:", :required => true %>
  <center><%= f.button :submit, 'Sign up', :class => "btn btn-large btn-primary" %></center>

<% end %>
</div>
</div>

