<% provide(:title, 'Sign up') %>

<% user_type = params[:plan] || 'subscriber' %>
<% heading_type = params[:job] || 'subscriber' %>

<% if user_type == 'topaz' %>
<h1>Try MASSOLIT for free</h1>
<% elsif user_type == 'subscriber' %>
<h1><%= "#{heading_type.titleize} Sign Up" %></h1>
<% else %>
<% end %>


<% if heading_type == 'student' %>
  <center>Not a student? If you're a teacher, sign up <%= link_to "here", new_subscriber_registration_path(:job => 'teacher') %></center>
  <center>No longer at school? Sign up for a 30-day free trial <%= link_to "here", new_user_registration_path(:plan => 'topaz') %></center>
 <br><br>
<% elsif heading_type == 'teacher' %>
  <center>Not a teacher? If you're a student, sign up <%= link_to "here", new_subscriber_registration_path(:job => 'student') %></center><br>
    <center>Not at school? Sign up for a 30-day free trial <%= link_to "here", new_user_registration_path(:plan => 'topaz') %></center>

<% else %>
<% end %>
<% if user_type == 'topaz' %>
	<div class="span6 offset3">
  		<p class="body">Enjoy free, unlimited access to MASSOLIT's <%= link_to "extensive collection of courses", courses_path %> for 30 days by signing up for our free trial.
  		<p class="body">You won't be charged until after your trial ends, and you can cancel at any time for absolutely no charge. <%= link_to "Find out what we offer", individual_users_path %> or <%= link_to "check out the most frequently asked questions", faqs_path %>.
    <br><br>
  	</div>

  	<br><br>

<% else %>
<% end %>

<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>

<%= render :partial => "#{user_type.underscore}_new_fields" %>

