<% provide(:title, 'Sign Up') %>
<%= content_for :body_id, "signup" %>

  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h4>
          Set up your new
          <% if request.fullpath.match("/member") %>
            account today.</h4>
            <p>Get unlimited access to MASSOLIT for just £4.99 a month.
          <% elsif request.fullpath.match("/admin")  %>
            account today.</h4>
             <p>This sign-up is for admins only.
          <% elsif request.fullpath.match("/teacher")  %>
            account today.</h4>
             <p>This sign-up is for teachers. If you're a student, you should <%= link_to "sign up here", student_sign_up_path %>
          <% elsif request.fullpath.match("/users")  %>
            account today.</h4>
          <% else %>
            account today.</h4>
             <p>Are you a teacher? <%= link_to "Sign up here", teacher_sign_up_path %>
          <% end %>
      </div>
    </div>

<%
  params[:user][:rolable_type] ||= 'student'

  if ["member", "student", "teacher", "admin"].include? params[:user][:rolable_type].downcase
    child_class_name = params[:user][:rolable_type].downcase.camelize
    rolable_type = params[:user][:rolable_type].downcase
  else
    child_class_name = "Student"
    rolable_type = "student"
  end

  resource.rolable = child_class_name.constantize.new if resource.rolable.nil?
%>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
  :html => {:class => 'card_form form-horizontal' } ) do |f| %>

<%= f.error_notification %>
  <%= display_base_errors resource %>

    <div class="row">
      <div class="col-md-12">
        <div class="wrapper clearfix">
          <div class="formy">
            <div class="row">
              <div class="col-md-12">
                  
                  <% unless rolable_type == 'member' %>
                    <%= simple_fields_for resource.rolable do |rf| %>
                      <% render "#{child_class_name.underscore}_fields", :f => rf %>
                    <% end %>
                  <% end %>

                  <div class="form-group">
                  <%= f.input :name, :label => "Full Name:", :autofocus => true, input_html: { class: 'form-control' } %>
                  </div>

                  <div class="form-group">
                  <%= f.input :email, :label => "E-Mail Address:", :required => true, input_html: { class: 'form-control' }  %>
                  </div>

                  <div class="form-group">
                    <%= f.input :password, :label => "Password:", :required => true, input_html: { class: 'form-control' }  %>
                  </div>

                  <div class="form-group">
                    <%= f.input :password_confirmation, :label => "Password Confirmation:", :required => true, input_html: { class: 'form-control' }  %>
                  </div>

                  <%= hidden_field :user, :rolable_type, :value => rolable_type %>

                  <% if rolable_type == 'member' %>
                    <%= simple_fields_for resource.rolable do |rf| %>
                      <% render "#{child_class_name.underscore}_fields", :f => rf %>
                    <% end %>
                  <% end %>


                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> I have read & agree to the 
                      <%= link_to "Terms of service", terms_path %>.
                    </label>
                  </div>
                  
                  <br>

                  <center>
                  <button type="submit" class="button-clear">
                      <span>Create my account</span>
                  </button>
                  </center>
                  
                  <% end %>
              </div>
            </div>            
          </div>
        </div>
        <div class="already-account">
          Already have an account?
          <%= link_to "Go to sign in!", new_user_session_path %>
          <% if ["student", "teacher"].include? params[:user][:rolable_type] %>
            <br />
            No longer at school? <%= link_to "Get a monthly subscription instead", member_sign_up_path %>
          <% else %>
            <br />
            Still at school? <%= link_to "Sign up via your school instead", student_sign_up_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>