<% provide(:title, 'Add New Video') %>

<div class="container">
<h2>Add New Video (Stage 2 of 2)</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @movie, :html => {:multipart => true} do |f| %>
    	<%= render 'shared/movie_error_messages' %>

      <%= f.hidden_field :key %>

      <p>Video File: <%= @movie.movie_name %></p> 

      <%= f.label :lesson_id %>
      <%= f.collection_select :lesson_id, Lesson.all, :id, :title, {}, { :multiple => false } %>

      <%= f.label :name %>
      <%= f.text_field :name %>  

      <%= f.submit "Add Video", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>
