<% provide(:title, 'New Trailer') %>
<%= content_for :body_id, "form" %>

<div class="menubar">
<div class="sidebar-toggler visible-xs">
<i class="ion-navicon"></i>
</div>

  <div class="page-title">
    Add New Video (Stage 2 of 2)
    <small class="hidden-xs">
      <strong>Video file: <%= @movie.movie_name %></strong>
    </small>
  </div>
</div>

<div class="content-wrapper">
  
  <%= form_for @movie, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
    <%= render 'shared/movie_error_messages' %>

    <%= f.hidden_field :key %>

  <div class="form-group">
    <%= f.label :lesson_id, "Course", :class => 'col-sm-2 col-md-2 control-label' %>
        <div class="col-sm-10 col-md-8">
          <%= f.collection_select :lesson_id, Lesson.all, :id, :title, {}, { :multiple => false, :class => 'form-control' } %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :name, "Name", :class => 'col-sm-2 col-md-2 control-label' %>
        <div class="col-sm-10 col-md-8">
          <%= f.text_field :name, :class => 'form-control' %>
      </div>
  </div>

  <div class="form-group form-actions">
        <div class="col-sm-offset-2 col-sm-10">
    <%= link_to "Cancel", :back, :class => "btn btn-default" %>

        <%= f.submit "Add new movie", class: "btn btn-success" %>
      </div>
    </div>

    <% end %>

</div>