<% provide(:title, 'Scores Dashboard') %>
<div class="container">
<h1>Scores Dashboard</h1>
<div class="span12">
<table class="table table-condensed">
    <thead>
      <tr>
          <th>Course</th>
          <th>Test</th>
          <th>User</th>
          <th>Score</th>
          <th>Out Of</th>
          <th>Percentage</th>
      </tr>
  </thead>
  <tbody>
  <% @scores.each do |score| %>
    <tr>
        <td><%= score.quiz.lesson.course.name unless score.quiz.blank? %></td>
        <td><%= score.quiz.lesson.title unless score.quiz.blank? %></td>
        <td><%#= Subscriber.find(score.subscriber_id).name %></td>
        <td><%= score.score unless score.score.blank? %></td>
        <td><%= score.possible unless score.possible.blank? %></td>
        <td><%= score.percentage unless.score.percentage.blank? %>%</td>
        <td><%= link_to("Delete Score", score_path(score), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>