<% provide(:title, 'Add New Trailer') %>

<div class="container">
<h1>Add Trailer (Stage 2 of 2)</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @trailer, :html => {:multipart => true} do |f| %>
    	<%= render 'shared/trailer_error_messages' %>

      <%= f.hidden_field :key %>

      <p>Trailer File: <%= @trailer.trailer_name %></p> 

      <%= f.label :course_id, "Module:" %>
      <%= f.collection_select :course_id, Course.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %>  

      <br><br>
      <center>
        <%= f.submit "Add Trailer", class: "btn btn-large btn-primary" %>
      </center>
    <% end %>
  </div>
</div>
</div>
