<% provide(:title, 'Add New Banner') %>

<div class="container">
<h2>Add New Banner (Stage 2 of 2)</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @banner, :html => {:multipart => true} do |f| %>
    	<%= render 'shared/banner_error_messages' %>

      <%= f.hidden_field :key %>

      <p>Banner File: <%= @banner.banner_name %></p> 

      <%= f.label :course_id %>
      <%= f.collection_select :course_id, Course.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :name, "Name: (for 'Learn About... [...]')" %>
      <%= f.text_field :name %>

      <%= f.label :description, "Description: (Did you know...?)" %>
      <%= f.text_field :description %>   

      <%= f.submit "Add Banner", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>
