<% provide(:title, "New Password") %>
<%= content_for :body_id, "signup" %>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h4>Reset your password.</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="wrapper clearfix">
          <div class="formy">
            <div class="row">
              <div class="col-md-12">
                  <%= f.input :reset_password_token, :as => :hidden %>

                  <div class="form-group">
                  <%= f.input :password, :label => "New Password:", :required => true, input_html: { class: 'form-control'} %>
                  </div>

                  <div class="form-group">
                    <%= f.input :password_confirmation, :label => "Confirm New Password:", :required => true, input_html: { class: 'form-control'} %>
                  </div>

                  <% if f.object.password_required? %>

                  <div class="form-group">
                    <%= f.input :password, :label => "Password:", :required => true, input_html: { class: 'form-control' }  %>
                  </div>

                  <div class="form-group">
                    <%= f.input :password_confirmation, :label => "Password Confirmation:", :required => true, input_html: { class: 'form-control' }  %>
                  </div>

                  <% end %>
                  
                  <center>
                  <button type="submit" class="button-clear">
                      <span>Change my password</span>
                  </button>
                  </center>
                  
                  <% end %>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>