<div class="container">
<div class="span6 offset3">
<h1>Forgotten your password?</h1>

<p class="body">
	If you have forgotten your password, simply enter the e-mail you registered with below and we will send you instructions on how to reset your password
</p>
<br>
<br>
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, :label => "E-Mail:", :required => true %>
  <center>
  <%= f.button :submit, "Submit", :class => "btn btn-large btn-primary" %>
  </center>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>