<% provide(:title, "Reset password") %>
<%= content_for :body_id, "signup" %>


<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
<%= f.error_notification %>
  <%= display_base_errors resource %>
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h4>Forgot your password?</h4>
        <p>Enter your e-mail address so we can send you another one.</p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="wrapper clearfix">
          <div class="formy">
            <div class="row">
              <div class="col-md-12">

                  <div class="form-group">
                  <%= f.input :email, :label => "E-Mail Address:", :required => true, input_html: { class: 'form-control' }  %>
                  </div>

                  <center>
                  <button type="submit" class="button-clear">
                      <span>Submit</span>
                  </button>
                  </center>
                  
                  <% end %>
              </div>
            </div>            
          </div>
        </div>
        <div class="already-account">
          Remembered it?
          <%= link_to "Go to sign in!", new_user_session_path %>
          <br />
          Lost? Go back
          <%= link_to "one step", :back %> or
          <%= link_to "to the home page", root_path %>
        </div>
      </div>
    </div>
  </div>
