<% provide(:title, 'Want to Learn More?') %>

<div class="container">
  
<div class="featurette">
   <h2 class="featurette-heading">Interested in learning?</h2>
      <p class="lead">We're currently working hard on our first few courses. If you'd like to hear more about what we're doing - or tell us what you'd like to learn - we'd love to hear from you. Pop your e-mail in the box below, and we'll be in touch! </p>
   </div>
</div>

<div class="container">
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@learner) do |f| %>
      <%= render 'shared/learner_error_messages' %>

    <center>
      <%= f.label :email, "E-mail address:" %>
    </center>
      <%= f.text_field :email %>

    <center>
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    </center>
    <% end %>
  </div>
</div>
</div>