<% provide(:title, 'Edit Lecture') %>
<%= content_for :body_id, "form" %>

<div class="menubar">
<div class="sidebar-toggler visible-xs">
<i class="ion-navicon"></i>
</div>

  <div class="page-title">
    Edit Lecture
  </div>
</div>

<div class="content-wrapper">
  
  <%= form_for @lesson, html: { class: "form-horizontal" } do |f| %>

  <div class="form-group">
    <%= f.label :course_id, :class => 'col-sm-2 col-md-2 control-label' %>
        <div class="col-sm-10 col-md-8">
          <%= f.collection_select :course_id, Course.all, :id, :name, {}, { :multiple => false, :class => 'form-control' } %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :title, "Lecture Title", :class => 'col-sm-2 col-md-2 control-label' %>
        <div class="col-sm-10 col-md-8">
          <%= f.text_field :title, :class => 'form-control' %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :lessondescription, "Summary", :class => 'col-sm-2 col-md-2 control-label' %>
        <div class="col-sm-10 col-md-8">
          <%= f.text_area :lessondescription, :rows => "9", :class => 'form-control' %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :lessontag_list, "Tags", :class => 'col-sm-2 col-md-2 control-label' %>
        <div class="col-sm-10 col-md-8">
          <%= f.text_area :lessontag_list, :rows => "9", :class => 'form-control' %>
      </div>
  </div>

  <div class="form-group form-actions">
        <div class="col-sm-offset-2 col-sm-10">
    <%= link_to "Cancel", :back, :class => "btn btn-default" %>

        <%= f.submit "Edit Lecture", class: "btn btn-success" %>
      </div>
    </div>

    <% end %>

</div>