<% provide(:title, 'Lectures Dashboard') %>
<div class="container">
<h1>Lectures Dashboard</h1>
<div class="span12">
<table class="table table-condensed">
    <thead>
      <tr>
          <th>Name</th>
          <th>Course</th>
          <th>Provider</th>
          <th>Date Added</th>
      </tr>
  </thead>
  <tbody>
  <% @lessons.each do |lesson| %>
    <tr>
        <td><%= link_to lesson.title, lesson %></td>
        <td><%= link_to lesson.course.name, lesson.course %></td>
        <td><%= link_to lesson.course.provider.name, lesson.course.provider %></td>
        <td><%= lesson.created_at.to_date %></td>
        <td><%= link_to("Edit Lecture", edit_lesson_path(lesson), :class => 'btn btn-mini') %></td>
        <td><%= link_to("Delete Lecture", lesson_path(lesson), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>

<div class="container">
  <center><%= link_to "Add new lecture", addlecture_path, :class => "btn btn-large btn-primary" %></center>
</div>