<% provide(:title, 'Add New Module') %>

<div class="container">
<h1>Add New Module</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@lesson) do |f| %>

      <%= f.label :course_id, "Course:" %>
      <%= f.collection_select :course_id, Course.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :title, "Title:" %>
      <%= f.text_field :title %>

      <%= f.label :lessondescription, "Synopsis:" %>
      <%= f.text_area :lessondescription, :rows => 5 %>

      <br><br>
      <h2>Tags</h2>
      <p>Tags should be separated by commas. They should include: sub-genre, period, authors, texts, and exam specification options.</p>

      <%= f.label :lessontag_list, "Tags:" %>
      <%= f.text_area :lessontag_list, :rows => 10 %>

      <center><%= f.submit "Add Module", class: "btn btn-large btn-primary" %></center>
    <% end %>
  </div>
</div>

</div>
