<% provide(:title, 'Add New Lecture') %>

<div class="container">
<h2>Add New Lecture (Stage 2 of 2)</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @lesson, :html => {:multipart => true} do |f| %>
    	<%= render 'shared/lesson_error_messages' %>

      <%= f.hidden_field :key %>

      <p>File: <%= @lesson.lessonimage_name %><p>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :length %>
      <%= f.text_field :length %>

      <%= f.label :lessondescription %>
      <%= f.text_field :lessondescription %>

      <%= f.label :course_id %>
      <%= f.text_field :course_id %>

      <%= f.submit "Add Lecture", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div> 