<% provide(:title, @lesson.title) %>
<%= content_for :body_id, "portfolio-item" %>

  <div class="st-container">
    <div class="st-pusher">
      <div class="st-content">
        <div id="showcase">
          <div class="container">
            <div class="row gallery_container">
              <div class="col-md-12">
                <div class="project">
                  <h1>
                    <%= @lesson.title %>
                  </h1>
                  <div class="col-md-7 english screens">
                  <% unless @lesson.movies.blank? %>
                  <h3>Watch Lecture</h3>
                  <div id="myElement">Loading the player ...</div>
                        <script type='text/javascript'>
                              jwplayer("myElement").setup({
                              file: "<%= @lesson.movies.first.movie %>",
                              title: "<%= @lesson.title %>",
                              width: '100%',
                              aspectratio: '16:9',
                              fallback: 'false',
                              primary: 'flash'
                              });
                        </script>
                        <br /><br /><br />
                    <% end %>
                    <h3>About this Lecture</h3>
                    <p class="text">
                      <%= @lesson.lessondescription %>
                    </p>
                    <br />
                    <p class="text"><%= link_to "« Back to Course", course_path(@lesson.course) %></p>
                  </div>

                  <div class="col-md-4 col-md-offset-1 description">
                    <div class="info">
                      <h3>Modules</h3>
                      <br />
                        <% @lesson.course.lessons.all.each do |lesson| %>
                          <% if @lesson.id == lesson.id %>
                            <p class="text"> <%= lesson.title %></p>
                          <% else %>
                            <p class="text"> <%= link_to lesson.title, lesson %></p>
                          <% end %>
                        <% end %>
                      <%= link_to "http://twitter.com/home?status=I'm taking the '#{@lesson.course.name}' course on MASSOLIT. Learn something new today at: https://www.massolit.io", :target => "_blank" do %>
                        <i class="icon ion-social-twitter"></i> Share on Twitter
                      <% end %>

                    </div>              
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
