
<% provide(:title, @lesson.title) %>

<div class="container">
<h1><%= @lesson.course.name %></h1>
</div>

</div>
<div class="container">
<div class="span7">
  <h2><%= @lesson.title %></h2>
  <center>
  <%= video_tag @lesson.video, :size => "600x338", :controls => true %> %>
  </center>

  <br><br>

  <h2>Further Activities</h2>

  <% unless @lesson.quiz == nil %>
  <p class="media">Once you have watched the video, check how much you learned by taking a short test. This test has <%= @lesson.quiz.questions.count %> questions, and should take no longer than 5 minutes to complete.</p>
  <p class="body">
    <strong>Please note: you can take the test as many times as you like, but only your first score will be counted.</strong></p>
  <br>
  <center>
    <%= link_to "Take Test", quiz_path(@lesson.quiz), :class => "btn btn-large btn-primary" %>
  <center>
  <% end %>

</div>




<div class="span3 offset1">
  
  <h2>Navigation</h2>
  <ul class="courselist">
  <li><i class="icon-chevron-left"></i> <%= link_to "Return to course overview", @lesson.course %></li>
  <% if @lesson == @lesson.course.lessons.first %>
  <% else %>
    <li><i class="icon-chevron-left"></i> <%= link_to "Previous module", lesson_path(@prev) %></li>
  <% end %>
  <% if @lesson == @lesson.course.lessons.last %>
  <% else %>
    <li><i class="icon-chevron-right"></i> <%= link_to "Next module", lesson_path(@next) %></li>
  <% end %>
  </ul>  

  <br><br>

  <h2>Key Files</h2>
  <ul class="courselist">
    <% if @lesson.transcripts.count == 0 && @lesson.handouts.count == 0 %>
    There are no files associated with this module.
    <% elsif @lesson.transcripts.count == 0 %>
    <li><i class="icon-file"></i> <%= link_to 'Module Handout', @lesson.handouts.first.handout.url %>
    <% elsif @lesson.handouts.count == 0 %>
    <li><i class="icon-file"></i> <%= link_to 'Module Transcript', @lesson.transcripts.first.transcript.url %></li>
    <% else %>
    <% end %>
  </ul>

  <br><br>

  <% unless @lesson.quiz == nil %>
    <h2>Test Score</h2>
      <% if current_subscriber.scores.count == 0 %>
        <p class="body">You have not taken the test yet.</p>
      <% else %>
        <% i = 0 %>
          <% current_subscriber.scores.each do |score| %>
            <% if score.quiz.id == @lesson.quiz.id && score.subscriber_id == current_subscriber.id && i<1 %>
              <p>You scored <%= score.score %> out of <%= score.possible %> (<%= score.percentage %>%)</p>
              <% i += 1 %>
            <% else %>
            <% end %>
      <% end %>
    <% end %>
  <% end %>
  

</div>
</div>