<% provide(:title, 'Want to contribute?') %>
<div class="container">

<div class="featurette">
   <h2 class="featurette-heading">Want to contribute?</h2>
      <p class="lead">We want to create the broadest and most diverse range of humanities courses available anywhere. So if you're a postgraduate from one of the best universities in the world, we'd love to hear from you. Pop your e-mail in the box below, and we'll be in touch! </p>
   </div>
</div>

<div class="container">
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@teacher) do |f| %>
      <%= render 'shared/teacher_error_messages' %>

    <center>
      <%= f.label :email, "E-mail address:" %>
    </center>
      <%= f.text_field :email %>

    <center>
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    </center>
    <% end %>
  </div>
</div>
</div>