<%= content_for :body_id, "datatables" %>
<% provide(:title, 'Schools Dashboard') %>

<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>
    
  <div class="page-title">
    Schools Dashboard
  </div>
</div>

<div class="content-wrapper">
  
  <table id="orders-datatable">
        <thead>
            <tr>
                <th tabindex="0" rowspan="1" colspan="1">Name</th>
                <th tabindex="0" rowspan="1" colspan="1">No. of Users</th>
                <th tabindex="0" rowspan="1" colspan="1">Active?</th>
                <th tabindex="0" rowspan="1" colspan="1">Options</th>
            </tr>
        </thead>
        
        <tfoot>
            <tr>
                <th rowspan="1" colspan="1">Name</th>
                <th rowspan="1" colspan="1">No. of Users</th>
                <th rowspan="1" colspan="1">Active?</th>
                <th rowspan="1" colspan="1">Options</th>
            </tr>
        </tfoot>
        <tbody>
            <% School.all.each do |school| %>
            <tr>
              <td><%= link_to school.name, school %></td>
              <td><%= [school.teachers.count, school.students.count].sum %></td>
              <td>
                <% if school.active? %>
                <span class="label label-success">Active</span>
                <% else %>
                <span class="label label-danger">Inactive</span>
                <% end %>
              </td>
              <td>
                  <%= link_to "Ed", edit_school_path(school) %>
                  <%= link_to "Del", school_path(school), :data => { :confirm => "Delete school?" }, :method => :delete %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>