<% provide(:title, "School Profile") %>
<%= content_for :body_id, "datatables" %>

<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>
    
  <div class="page-title">
    <%= @school.name %>

    <% if @school.active? %>
      <span class="label label-success">Active</span>
    <% else %>
      <span class="label label-danger">Inactive</span>
    <% end %>

  </div>
</div>

<div class="content-wrapper">
  
  <table id="orders-datatable">
        <thead>
            <tr>
                <th tabindex="0" rowspan="1" colspan="1">Name</th>
                <th tabindex="0" rowspan="1" colspan="1">Email</th>
                <th tabindex="0" rowspan="1" colspan="1">Last Sign-in</th>
                <th tabindex="0" rowspan="1" colspan="1">Sign-up Date</th>
                <th tabindex="0" rowspan="1" colspan="1">Total Sign-ins</th>
            </tr>
        </thead>
        
        <tfoot>
            <tr>
                <th rowspan="1" colspan="1">Name</th>
                <th rowspan="1" colspan="1">Email</th>
                <th rowspan="1" colspan="1">Last Sign-in</th>
                <th rowspan="1" colspan="1">Sign-up Date</th>
                <th rowspan="1" colspan="1">Total Sign-ins</th>
            </tr>
        </tfoot>
        <tbody>
            <% @school.teachers.all.each do |s| %>
            <tr>
              <td><%= link_to s.user.name, s.user %></td>
              <td><%= s.user.email %></td>
              <td><%= s.user.last_sign_in_at.to_date.to_formatted_s(:rfc822) unless s.user.last_sign_in_at.blank? %></td>
              <td><%= s.user.created_at.to_date.to_formatted_s(:rfc822) unless s.user.created_at.blank? %></td>
              <td><%= s.user.sign_in_count unless s.user.sign_in_count.blank? %></td>
            </tr>
            <% end %>
            <% @school.students.all.each do |s| %>
            <tr>
              <td><%= link_to s.user.name, s.user %></td>
              <td><%= s.user.email %></td>
              <td><%= s.user.last_sign_in_at.to_date.to_formatted_s(:rfc822) unless s.user.last_sign_in_at.blank? %></td>
              <td><%= s.user.created_at.to_date.to_formatted_s(:rfc822) unless s.user.created_at.blank? %></td>
              <td><%= s.user.sign_in_count unless s.user.sign_in_count.blank? %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>