<% provide(:title, 'Edit Course') %>

<%# courselist = Course.select('name').all.map(&:name) %>
<% genrelist = ['English Literature', 'Classics', 'History', 'Philosophy', 'Modern Languages'] %>

<div class="container">
<h1>Edit Course</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @course, :html => {:multipart => true} do |f| %>
      <%= render 'shared/course_error_messages' %>

      <h2>Course Details</h2>

      <%= f.label :name, "Course Title:" %>
      <%= f.text_field :name %>

      <%= f.label :category, "Category:" %>
      <%= f.text_field :category %>

      <%= f.label :description, "Course Synopsis:" %>
      <%= f.text_area :description, :rows => "9" %>

      <%= f.label :provider_id, "Tutor:" %>
      <%= f.collection_select :provider_id, Provider.all, :id, :name, {}, { :multiple => false } %>

      <br><br>
      <h2>Tags</h2>
      <p>Tags should be separated by commas.</p>

      <%= f.label :genre_list, "Genre:" %>
      <%= f.text_field :genre_list, :autocomplete => :off, :data => { provide: "typeahead", source: genrelist, items: "9" } %>

      <%= f.label :subgenre_list, "Subgenre(s)" %>
      <%= f.text_field :subgenre_list %>

      <%= f.label :period_list, "Period(s)" %>
      <%= f.text_field :period_list %>

      <%= f.label :author_list, "Author(s)" %>
      <%= f.text_field :author_list %>

      <%= f.label :text_list, "Text(s)" %>
      <%= f.text_field :text_list %>

      <%= f.label :examoption_list, "Specification Option(s):" %>
      <%= f.text_field :examoption_list %>

      <%= f.label :theme_list, "Miscellaneous:" %>
      <%= f.text_field :theme_list %>

      <br><br>


      <%= f.submit "Update Course", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>