<% provide(:title, 'All courses') %>
<div class="container">
<h1>All Courses</h1>


<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <h2>Add New Course (Stage 1 of 2)</h2>
      <%= direct_upload_form_for @uploader do |f| %>
        <p><%= f.file_field :image %></p>
        <p><%= f.submit "Upload image" %></p>
        <h2>Current Courses</h2>
      <% end %>
   <% end %>
   <% else %>
<% end %>

<% if subscriber_signed_in? %>
  <% if current_subscriber.has_role? :admin %>
    <h2>Add New Course (Stage 1 of 2)</h2>
      <%= direct_upload_form_for @uploader do |f| %>
        <p><%= f.file_field :image %></p>
        <p><%= f.submit "Upload image" %></p>
        <h2>Current Courses</h2>
      <% end %>
   <% end %>
   <% else %>
<% end %>


<%= will_paginate %>

<ul class="courselist">
  <% @courses.each do |course| %>
    <li>
    <div class="media">
    	<div class="pull-left">
    		<%= image_tag course.avatar_url.to_s, :size => "200x200" %>
    	</div>
	    <div class="span9">
	    	<h4 class="media-heading"><%= link_to course.name, course %></h4>
	    	<%= course.description %>
	    </div>
	</div>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
</div>