<% provide(:title, "Courses") %>
<%= content_for :body_id, "portfolio" %>

<div id="showcase">
  <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h3>Our Courses</h3>
          <p>Here's a selection of our courses.</p>
        </div>   
      </div>

      <div class="col-md-12 filtering">
        <ul id="filters">
          
          <% if params[:tag] %>
            <li><%= link_to "All", '/courses' %></li>
          <% else %>
            <li><%= link_to "All", '/courses', :class => "active" %></li>
          <% end %>
          
          <% categories = ["English Literature","History","Philosophy","Classics"] %>

          <% categories.each do |category| %>
            <% if params[:tag] == category %>
              <li><%= link_to category, tag_path(category), :class => "active" %></li>
            <% else %>
              <li><%= link_to category, tag_path(category) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <% @courses.each do |course| %>

        <div class="col-md-12 project">
          <div class="col-md-3 devices interfaces web no-padding">
            <%= link_to course do %>
              <%= image_tag course.avatar_url.to_s, :size => "210x210", :class => "img-circle" %>
            <% end %>
          </div>
          
          <div class="col-md-7 some-lateral-padding">
            <h3><%= link_to course.name, course %></h3>
            <p class="description">
              <%= truncate(course.description, :length => 380, :separator => ' ') %>
              <%= link_to "Read more", course %>
            </p>
          </div>
            
          <div class="col-md-2 no-lateral-padding">
            <div id="cta">
              <%= link_to "Go to course", course %>
            </div>

            <div class="description some-vertical-padding">
              <p><%= link_to course.provider.name, course.provider %></p>
              <p>
                <% unless course.provider.website.blank? %>
                  <%= link_to course.provider.website, :target => '_blank' do %>
                    <%= course.provider.university %>
                  <% end %>
                <% end %>
              <p><%= raw course.genre_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
            </div>
          </div>

        </div>
      
      <% end %>

  </div>
</div>
