<% provide(:title, "Courses") %>

<div class="container">
<h1>Courses</h1>
</div>

<div class="navbar">
<div class="navbar-inner">
<ul class="nav pull-left">

    <li class="disabled"><%= link_to "Select Category:", "#" %></li>
      
    <% if params[:tag] == "Classics" %>
      <li class="active"><%= link_to "Classics", tag_path("Classics") %></li>
    <% else %>
      <li><%= link_to "Classics", tag_path("Classics") %></li>
    <% end %>

    <% if params[:tag] == "English Literature" %>
      <li class="active"><%= link_to "English Literature", tag_path("English Literature") %></li>
    <% else %>
      <li><%= link_to "English Literature", tag_path("English Literature") %></li>
    <% end %>

    <% if params[:tag] == "History" %>
      <li class="active"><%= link_to "History", tag_path("History") %></li>
    <% else %>
      <li><%= link_to "History", tag_path("History") %></li>
    <% end %>

    <% if params[:tag] == "Modern Languages" %>
      <li class="active"><%= link_to "Modern Languages", tag_path("Modern Languages") %></li>
    <% else %>
      <li><%= link_to "Modern Languages", tag_path("Modern Languages") %></li>
    <% end %>

    <% if params[:tag] == "Philosophy" %>
      <li class="active"><%= link_to "Philosophy", tag_path("Philosophy") %></li>
    <% else %>
      <li><%= link_to "Philosophy", tag_path("Philosophy") %></li>
    <% end %>

      <li class="disabled"><%= link_to "or", "#" %></li>

    <% if params[:tag] %>
      <li><%= link_to "View All Categories", courses_path %></li>
    <% else %>
      <li class="active"><%= link_to "View All Categories", courses_path %></li>
    <% end %>

</ul>
</div>
</div>

<div class="container">

<div class="span12">
<ul class="courselist">
  <% @courses.each do |course| %>
    <li class="coming-soon">
    <div class="media">
    	<div class="pull-left">
    		<%= image_tag course.avatar_url.to_s, :size => "170x170" %>
    	</div>
	    <div class="span7">
	    	<h4 class="media-heading"><%= link_to course.name, course %></h4>
	    	<p class="small"><%= truncate(course.description, :length => 350, :separator => ' ') %>
        <%= link_to "Read more", course %>
	    </div>
      <div class="span2">
        <br><br>
        <p> <i class="icon-folder-open"></i>  <%= raw course.genre_list.map { |t| link_to t, tag_path(t) }.join(', ') %> </p>
        <p> <i class="icon-user"></i> <%= link_to course.provider.name, course.provider %></p>
        <br>
        <% if course.lessons.blank? %>
          <%= link_to "Coming Soon", "#", :class => "btn btn-large disabled" %>
        <% else %>
          <%= link_to "Go to Course", course, :class => "btn btn-large btn-primary" %>
        <% end %>
      </div>
	</div>
    </li>
  <% end %>
</ul>
</div>