<% provide(:title, 'All courses') %>
<% category = params[:category] || "All" %>


<div class="container">
<h1><%= category.titleize %> Courses</h1>
</div>

<div class="container">

<div class="span12">
<ul class="courselist">
  <% @courses.each do |course| %>
    <li class="coming-soon">
    <div class="media">
    	<div class="pull-left">
    		<%= image_tag course.avatar_url.to_s, :size => "170x170" %>
    	</div>
	    <div class="span7">
	    	<h4 class="media-heading"><%= link_to course.name, course %></h4>
	    	<p class="small"><%= truncate(course.description, :length => 350, :separator => ' ') %>
        <%= link_to "Read more", course %>
	    </div>
      <div class="span2">
        <br><br>
        <p> <i class="icon-folder-open"></i> <%= course.category %> </p>
        <p> <i class="icon-user"></i> <%= link_to course.provider.name, course.provider %></p>
        <br>
        <%= link_to "Go to course", course, :class => "btn btn-large btn-primary" %>
      </div>
	</div>
    </li>
  <% end %>
</ul>
</div>