<% provide(:title, 'All courses') %>
<div class="container">
<h1>All Courses</h1>

<%= will_paginate %>

<ul class="courselist">
  <% @courses.each do |course| %>
    <li>
    <div class="media">
    	<div class="pull-left">
    		<%= image_tag course.avatar_url.to_s, :size => "200x200" %>
    	</div>
	    <div class="span9">
	    	<h4 class="media-heading"><%= link_to course.name, course %></h4>
	    	<%= course.description %>
	    </div>
	</div>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
</div>