<% provide(:title, 'New Course') %>
<%= content_for :body_id, "form" %>

<div class="menubar">
<div class="sidebar-toggler visible-xs">
<i class="ion-navicon"></i>
</div>

  <div class="page-title">
    Add New Course (Stage 2 of 2)
    <small class="hidden-xs">
      <strong>Course image: <%= @course.avatar_name %></strong>
    </small>
  </div>
</div>

<div class="content-wrapper">
  
  <%= form_for @course, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
    <%= render 'shared/course_error_messages' %>

    <%= f.hidden_field :key %>

  <div class="form-group">
    <%= f.label :name, "Course Title", :class => 'col-sm-2 col-md-2 control-label' %>
        <div class="col-sm-10 col-md-8">
          <%= f.text_field :name, :class => 'form-control' %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :genre_list, "Category", :class => 'col-sm-2 col-md-2 control-label' %>
        <div class="col-sm-10 col-md-8">
          <%= f.text_field :genre_list, :class => 'form-control' %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Summary", :class => 'col-sm-2 col-md-2 control-label' %>
        <div class="col-sm-10 col-md-8">
          <%= f.text_area :description, :rows => "9", :class => 'form-control' %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :provider_id, :class => 'col-sm-2 col-md-2 control-label' %>
        <div class="col-sm-10 col-md-8">
          <%= f.collection_select :provider_id, Provider.all, :id, :name, {}, { :multiple => false, :class => 'form-control' } %>
      </div>
  </div>

  <div class="form-group form-actions">
        <div class="col-sm-offset-2 col-sm-10">
    <%= link_to "Cancel", :back, :class => "btn btn-default" %>

        <%= f.submit "Add new course", class: "btn btn-success" %>
      </div>
    </div>

    <% end %>

</div>