
<% provide(:title, @course.name) %>
<div class="container">
<div class="container">
  <h1><%= @course.name %></h1>
</div>

<div class="container">
<div class="span7">
  <h2>About this Course</h2>
  <p class="media"><%= @course.description %></p>
  <br><br>
  <h2>About <%= @course.provider.name %></h2>
  <p class="media"><%= @course.provider.bio %></p>
  <br><br>
  <center><p class="courselist"><i class="icon-chevron-left"></i> <%= link_to "Return to course index", courses_path %></p></center>
</div>
<div class="span3 offset1">
  <h2>Key Information</h2>
  <ul class="courselist">
    <li><i class="icon-folder-open"></i> Category: <%= @course.category %></li>
    <li><i class="icon-user"></i> Tutor: <%= link_to @course.provider.name, @course.provider %></li>
      <% if subscriber_signed_in? %>
      <% else %>
      <li><i class="icon-exclamation-sign"></i> <%= link_to "Log in", new_subscriber_session_path %> or <%= link_to "sign up", new_subscriber_registration_path(:job => 'student') %> to register for this course.</li>
      <% end %>
  </ul>
  <br>
      <%= render 'study_form' %>
  <br>

  <% if subscriber_signed_in? %>
    <% if current_subscriber.studying?(@course) %>
    <h2>Lecture Quick Links</h2>
      <ul class="courselist">
      <% @course.lessons.each do |lesson| %>
      <li><i class="icon-facetime-video"></i> <%= link_to lesson.title, lesson %></li>
      <% end %>
      <% else %>
      <% end %>
  <% else %>
  <% end %>
  </ul>

</div>
</div>
