<% provide(:title, @course.name) %>
<%= content_for :body_id, "portfolio-item" %>

  <div class="st-container">
    <div class="st-pusher">
      <div class="st-content">
        <div id="showcase">
          <div class="container">
            <div class="row gallery_container">
              <div class="col-md-12">
                <div class="project">
                  <h1>
                    <%= @course.name %>
                  </h1>
                  <div class="col-md-7 english screens">
                  <% unless @course.trailers.blank? %>
                  <h3>Watch the Trailer</h3>
                  <div id="myElement">Loading the player ...</div>
                        <script type='text/javascript'>
                              jwplayer("myElement").setup({
                              file: "<%= @course.trailers.first.trailer %>",
                              title: "<%= @course.name %>",
                              width: '100%',
                              aspectratio: '16:9',
                              fallback: 'false',
                              primary: 'flash'
                              });
                        </script>
                        <br /><br /><br />
                    <% end %>
                                     
                    <h3>About this Course</h3>
                    <p class="text">
                      <%= @course.description.html_safe %>
                    </p>
                    <h3>About the Tutor: <%= @course.provider.name %></h3>
                    <p class="text">
                      <%= @course.provider.bio.html_safe %>
                    </p>
                    <br />
                    <p class="text"><%= link_to "« Back to Courses", "/courses" %></p>
                  </div>

                  <div class="col-md-4 col-md-offset-1 description">
                    <div class="info">
                      <h3>Key Information</h3>
                      <br />
                      <p>
                        Tutor:
                        <%= link_to @course.provider.name, @course.provider %>
                      </p>
                      <p>
                        Subject:
                        <%= raw @course.genre_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
                      </p>
                      <br><br>
                      <% unless @course.lessons.blank? %>
                      <h3>Modules</h3>
                      <br />
                        <% @course.lessons.all.each do |lesson| %>
                          <% if user_signed_in? %>
                            <p class="text"> <%= link_to lesson.title, lesson %>
                          <% else %>
                            <p class="text"> <%= lesson.title %></p>
                          <% end %>
                        <% end %>
                          <% if user_signed_in? %>
                          <% else %>
                            <p>Please <%= link_to "sign in", new_user_session_path %> or <%= link_to "sign up", 'student/sign_up' %> in order to view lectures.
                          <% end %>

                      <% end %>
                    </div>              
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
