
<% provide(:title, @course.name) %>

<div class="container">
<div class="span7">
  <h2>About this Course</h2>
  <p class="media"><%= @course.description %></p>
</div>
<div class="span4">
  <h2>Key Information</h2>
  Category: <%= @course.category %>
</div>
</div>

<div class="container">
  <h1><%= @course.name %></h1>

  <div class="media">
    <div class="pull-left">
      <%= image_tag @course.avatar_url.to_s, :size => "250x250" %>
    </div>
    <div class="span8">
      <p class="muted">Category: <%= @course.category %></p>
      <p><%= @course.description %></p>
    </div>
  </div>
</div>

<% if subscriber_signed_in? %>
<center><%= render 'study_form' %></center>
<% else %>
<% end %>

<br>
<br>
<div class="container">

  <% if @course.lessons.count == 0 %>
  <% else %>
  <h3>Lecture List</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>No.</th>
          <th>Title</th>
          <th>Description</th>
          <th>Length</th>
        </tr>
      </thead>
      <tbody>
        <% @course.lessons.each_with_index do |lesson, i| %>
        <tr>
          <td><%= (i+1) %></td>
          <td><%= link_to lesson.title, lesson %></td>
          <td><%= lesson.lessondescription %></td>
          <td><%= lesson.length %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
