<% provide(:title, @course.name) %>

<div class="container">
  <h1><%= @course.name %></h1
  <div class="media">
    <div class="pull-left">
      <%= image_tag @course.avatar_url.to_s, :size => "250x250" %>
    </div>
    <div class="span8">
      <p class="muted">Category: <%= @course.category %></p>
      <p><%= @course.description %></p>

      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">

  <% if @course.lessons.count == 0 %>
  <% else %>
  <h3>Lecture List</h3>
  <ul class="courselist">
  <% @course.lessons.each do |lesson| %>
    <li>
      <div class="media">
        <div class="pull-left">
          <%= image_tag lesson.lessonimage_url.to_s, :size => "150x150" %>
        </div>
        <div class="span8">
         <h4 class="media-heading"><%= link_to lesson.title, controller: "lessons", action: "show", id: lesson.id %></h4>
         <%= lesson.lessondescription %>
        </div>
      </div>
    </li>
  <% end %>
  <% end %>
</ul>

</div>
