<h2>Engagement</h2>

<% last_login = @subscriber.last_sign_in_at %>

<div class="well">
  <%= @subscriber.name %> has logged in a total of <strong><%= @subscriber.sign_in_count %></strong> times.
</div>

<div class="well">
  <% unless last_login.blank? %>
  	<%= @subscriber.name %> last logged in on <strong><%= last_login.strftime("%A %d %B") %></strong> at <strong><%= last_login.strftime("%I:%M %p") %></strong>
  <% end %>
</div>
