<%= content_for :body_id, "datatables" %>
<% provide(:title, 'Users Dashboard') %>

<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>
    
  <div class="page-title">
    Users Dashboard
  </div>
</div>

<div class="content-wrapper">
  
  <table id="orders-datatable">
        <thead>
            <tr>
                <th tabindex="0" rowspan="1" colspan="1">Name</th>
                <th tabindex="0" rowspan="1" colspan="1">School</th>
                <th tabindex="0" rowspan="1" colspan="1">E-Mail</th>
                <th tabindex="0" rowspan="1" colspan="1">Role</th>
                <th tabindex="0" rowspan="1" colspan="1">Last Sign-in</th>
                <th tabindex="0" rowspan="1" colspan="1">Sign-up Date</th>
                <th tabindex="0" rowspan="1" colspan="1">Options</th>
            </tr>
        </thead>
        
        <tfoot>
            <tr>
                <th rowspan="1" colspan="1">Name</th>
                <th rowspan="1" colspan="1">School</th>
                <th rowspan="1" colspan="1">E-Mail</th>
                <th rowspan="1" colspan="1">Role</th>
                <th rowspan="1" colspan="1">Last Sign-in</th> 
                <th rowspan="1" colspan="1">Sign-up Date</th>
                <th rowspan="1" colspan="1">Options</th>
            </tr>
        </tfoot>
        <tbody>
            <% Subscriber.all.each do |s| %>
            <tr>
                <td><%= link_to s.name, s %></td>
                <td><%= link_to s.school.name, s.school unless s.school.blank?%></td>
                <td><%= s.email %></td>
                <td><%= s.roles.first.name.titleize unless s.roles.first.nil? %></td>
                <td><%= s.last_sign_in_at.to_date.to_formatted_s(:rfc822) unless s.last_sign_in_at.blank? %></td>
                <td><%= s.created_at.to_date.to_formatted_s(:rfc822) unless s.created_at.blank? %></td>
                <td>
                    <a data-toggle="modal" href="#role-options-<%= s.id %>">CR</a>
                    <%= render s %>
                  <%= link_to "Ed", edit_subscriber_path(s) %>
                  <%= link_to "Del", subscriber_path(s), :data => { :confirm => "Delete user?" }, :method => :delete unless s == current_subscriber %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

