<% provide(:title, 'Users Dashboard') %>

<div class="container">
<h1>Users Dashboard</h1>
<div class="span12">
<table class="table table-condensed">
    <thead>
      <tr>
          <th>Name</th>
          <th>School</th>
          <th>Email</th>
          <th>Registered</th>
          <th>Role</th>
      </tr>
  </thead>
  <tbody>
  <% @subscribers.each do |subscriber| %>
    <tr>
        <td><%= link_to subscriber.name, subscriber %></td>
        <td><%= link_to subscriber.school.name, subscriber.school unless subscriber.school.nil? %></td>
        <td><%= subscriber.email %></td>
        <td><%= subscriber.created_at.to_date %></td>
        <td><%= subscriber.roles.first.name.titleize unless subscriber.roles.first.nil? %></td>
        <td>
          <a data-toggle="modal" href="#role-options-<%= subscriber.id %>" class="btn btn-mini" type="button">Change role</a>
          <%= render subscriber %>
        </td>
        <td><%= link_to("Edit Details", edit_subscriber_path(subscriber), :class => 'btn btn-mini') %></td>
        <td><%= link_to("Delete subscriber", subscriber_path(subscriber), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless subscriber == current_subscriber %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>