<% provide(:title, @subscriber.name) %>

<div class="container">
  <h1><%= @subscriber.name %></h1>
</div>

<div class="container">

 <div class="span7">

  <%= render 'usage' %>
  <br><br>
  <%#= render 'courses' %>
  <%= render 'results' %>

  </div>


<div class="span3 offset1">
  
  <h2>Personal Information</h2>
  
  <ul class="courselist">
    <li><i class="icon-user"></i> Name: <%= @subscriber.name unless nil %></li>
    <% unless @subscriber.sex == nil %>
        <li><i class="icon-user"></i> Gender: <%= @subscriber.sex %></li>
    <% end %>
    <% unless @subscriber.date_of_birth == nil %>
    	<li><i class="icon-user"></i> Age: <%= Date.today.year - @subscriber.date_of_birth.to_date.year %></li>
    <% end %>
    <li><i class="icon-user"></i> School: <%= link_to @subscriber.school.name, @subscriber.school unless @subscriber.school == nil %></li>
 
  </ul>

    <% if current_subscriber.id == @subscriber.id %>
    <center>
    	<br><%= link_to "Edit Profile", edit_subscriber_registration_path, class: "btn btn-large btn-primary" %>
    </center>
    <% else %>
    <% end %>

</div>
</div>