<% provide(:title, 'Edit A-Level') %>

<div class="container">
<h2>Edit A-Level</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @alevel, :html => {:multipart => true} do |f| %>
      <%= render 'shared/alevel_error_messages' %>

      <%= f.label :board %>
      <%= f.text_field :board %>

      <%= f.label :code %>
      <%= f.text_field :code %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Update A-Level", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>