<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "MASSOLIT | Beta", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Courses", courses_path %></li>
            <% if subscriber_signed_in? && !user_signed_in? %>
                  <% if current_subscriber.has_role? :admin %>          
                    <li><%= link_to "Schools Dashboard", schools_path %></li>
                    <li><%= link_to "Users Dashboard", subscribers_path %></li>
                  <% else %>
                  <% end %>
              <li><%= link_to "Update Account", edit_subscriber_registration_path %></li>
              <li><%= link_to "Logout", destroy_subscriber_session_path, :method=>'delete' %></li>
            <% elsif !subscriber_signed_in? && !user_signed_in? %>
                <li><%= link_to "Login", new_subscriber_session_path %></li>
                <li><%= link_to "Sign Up", new_subscriber_registration_path(:job => 'student') %></li>
            <% else %>
            <% end %>
            <% if user_signed_in? && !subscriber_signed_in? %>
                <li><%= link_to "Logout", destroy_user_session_path, :method=>'delete' %></li>
            <% else %>
            <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>