<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>

  <%= render 'layouts/shim' %>
  <%= render 'layouts/analytics' %>
  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>

</head>

<body id="<%= yield :body_id %>" class="<%= controller_name %> <%= action_name %>">

  <%= render 'layouts/errors' %>
  
  <% if request.fullpath.match("admin") || request.fullpath.match("bucket") %>
    <div id="wrapper">
      <%= render "shared/sidebar_menu" %>
        <div id="content">
          <%= yield %>
        </div>  
  </div>

  <% else %> 

    <% if request.fullpath == "/" %>
      <%= render 'layouts/header-home' %>
    <% elsif request.fullpath.match("/subscribers") %>
    <% elsif request.fullpath.match("/users") %>
    <% elsif request.fullpath.match("/sign_up") %>
    <% elsif request.fullpath.match("/sign_in") %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    
    <%= yield %>

    <% if request.fullpath.match("/subscribers") %>
    <% elsif request.fullpath.match("/users") %>
    <% elsif request.fullpath.match("/sign_up") %>
    <% elsif request.fullpath.match("/sign_in") %>
    <% else %>
        <%= render 'layouts/footer' %>
    <% end %>
      <%= debug(params) if Rails.env.development? %>
    
  <% end %>
        
</body>
</html>