<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %> 
  <%= render 'layouts/shim' %>
  <%= render 'layouts/googletracker' %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
  
    <%= render 'layouts/splashheader' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %></div>
        <% end %>
      <%= yield %>
      <div class="container">
      <%= render 'layouts/splashfooter' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    </div>
</body>
</html>