<!DOCTYPE html>
<html>
<head>

  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %> 
  
  <%= render 'layouts/shim' %>

  <script src="https://jwpsrv.com/library/KJYThFOeEeOYuBIxOQfUww.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44709438-1', 'massolit.herokuapp.com');
    ga('send', 'pageview');
  </script>

</head>

<body class="<%= controller_name %> <%= action_name %>">
  
    <%= render 'layouts/splashheader' %>
    <% if request.fullpath == "/" %>
      <%= render 'layouts/banner' %>
    <% else %>
    <% end %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %></div>
        <% end %>
      <%= yield %>
      <div class="container">
      <%= render 'layouts/splashfooter' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    </div>
</body>
</html>